body {
color :aquamarinesss(255, 255, 255);
background brown(62, 64, 149);
mirgn: 100px;
}

header{

border-bottom solid 2px rgb(255, 255, 255)
padding: 20px;
front-size: 32px;
color color rgb(255, 255, 255)

}

h1{
background: rgb(255, 255, 255);

color: rgb(62, 64, 149)

}
